* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.admin-layout {
  display: flex;
  min-height: 100vh;
  background: #f3f4f6;
}

/* SIDEBAR */

.admin-sidebar {
  width: 260px;
  background: #111827;
  color: white;

  display: flex;
  flex-direction: column;

  padding: 20px;
}

.admin-logo {
  margin-bottom: 40px;
  font-size: 24px;
}

.admin-sidebar button {
  background: transparent;
  border: none;

  color: white;

  text-align: left;

  padding: 14px 16px;

  margin-bottom: 10px;

  border-radius: 10px;

  cursor: pointer;

  transition: 0.2s;

  font-size: 16px;
}

.admin-sidebar button:hover {
  background: #1f2937;
}

.admin-sidebar button.active {
  background: #2563eb;
}

.logout-btn {
  margin-top: auto;
  background: #dc2626 !important;
}

/* CONTENT */

.admin-content {
  flex: 1;

  padding: 40px;

  overflow-y: auto;
}

.admin-content h1,
.admin-content h2 {
  margin-bottom: 20px;
}

.admin-content p {
  color: #555;
  font-size: 16px;
}